{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-3.4.1.js' %}"></script>
        <link rel="stylesheet" href="{% static "style.css" %}">
    </head>

    <body>

        <header>
            🍺 Homebrew status at <span id="timestamp">{{ timestamp }}</span> <span id="live" style="display:none">🟢</span>
        </header>

    {% if beer_temperature_string %}
        <p>
        🍺 Beer temperature <span id="beer-temp">{{ beer_temperature_string }}C</span>
        </p>

    {% else %}
        <p id="no-beer-temp">
            !! NO TEMPERATURE DATA !!
        </p>
    {% endif %}

    {% if ambient_temperature_string %}
        <p>
        ⛅️ Ambient temperature <span id="ambient-temp"> {{ ambient_temperature_string }}C</span>
        </p>
    {% else %}
        <p id="no-ambient-temp">
            !! NO TEMPERATURE DATA !!
        </p>
    {% endif %}

    <p>
        🥴 Alcohol amount <span id="alcohol-amount"> {{ alcohol_amount_string }} </span>
    </p>
    
    </body>

    <button id="NUKE_EVIDENCE">
        NUKE
    </button>

    <div>
        <canvas class="chart" id="tempChart" width="500" height="400"></canvas>
        <canvas class="chart" id="alcoholChart" width="500" height="400"></canvas>
    </div>

    
    <script type="text/javascript" src="{% static 'main.js' %}"></script>